canvas {
  touch-action: none;
  user-select: none;
  overscroll-behavior: contain;
  border: solid 2px wheat;
  width: 500px;
  height: 500px;
}

main {
  display: flex;
  flex-direction: column;
}

form {
  padding: 24px;
}

.canvas-control {
  padding: 24px;
}
