#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 1px;
  border-radius: 8px;
  width: 90%;
  overflow: hidden;
  margin-top: 16px;
}

figure {
  position: relative;
  cursor: pointer;

  & > .icon {
    display: none;
    background-image: url(glass.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
    z-index: 1;
  }

  &:hover {
    & > .icon {
      display: block;
    }
    & > img {
      filter: brightness(0.5);
    }
  }

  & > img {
    width: 100%;
    display: block;
  }
}
