nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black;
  background-color: var(--surface);
}

nav > a {
  padding: 16px 24px;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  color: var(--text);
  @media (max-width: 600px) {
    & {
      font-size: 24px;
    }
  }

  &:hover {
  }
  &.active {
  }
}
